.monster{
    .minionSR, .minionHit, .minionDodge, .minionBlock{
        color: rgb(0, 60, 0);
    }
    .bossSR, .bossHit, .bossDodge, .bossBlock{
        color: rgb(60, 0, 0);
    }
    label{
        display: flex;
        justify-content: end;
        align-items: center;
        font-weight: bold;
        text-align: end;
    }
    .headerInfo{
        margin-top: 0px;
        .coreItems{
            .grid{
                margin-top: 0px;
                .minionSR:hover, .bossSR:hover, .initiative:hover{
                    text-shadow: 0 0 5px darkred;
                    cursor: pointer;
                }
                input[type="text"]{
                    margin: auto;
                }
            }
        }
    }
    .melee, .defense{
        input{
            margin: auto;
        }
        label{
            font-size: 13px;
        }
    }
    .melee{
        gap: 5px;
        button{
            height: 26px;
            width: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
        }
        .reveal-rollable{
            .monsterHit, .monsterPower{
                margin-top: 0px;
                margin-bottom: 0px;
            }
            .monsterHit{
                label:hover{
                    text-shadow: 0 0 5px darkred;
                    cursor: pointer;
                }
            }
            .monsterPower{
                label:first-child:hover{
                    text-shadow: 0 0 5px darkred;
                    cursor: pointer;
                }
            }
        }
    }
    .defense{
        gap: 5px 0px;
        h3,h4{
            margin: auto;
        }
        .grid.grid-8col{
            margin-top:0px;
            margin-bottom: 0px;
        }
        .reveal-rollable{
            .minionDodge:hover, .minionBlock:hover, .bossDodge:hover, .bossBlock:hover{
                text-shadow: 0 0 5px darkred;
                cursor: pointer;
            }
        }
    }
    .editor{
        border: 1px solid #666;
        border-radius: 3px;
        padding: 5px;
        background-color: rgba(0,0,0,0.05);
        height: 100%;
        min-height: 40px;
        .tox.tox-tinymce{
            height: 125px !important;
        }
    }
}
