.itemsPage{
    .rowHeader{
        font-size: 8px;
    }
    .editor{
        height: 100%;
        min-height: 25px;
        .tox.tox-tinymce{
            height: 125px !important;
        }
    }
}