.sidebar{
    font-size: 12px;
    h2{
        font-size: 16px;
    }
    label{
        display: flex;
        justify-content: end;
        align-items: center;
    }
    input[type="text"]{
        padding: 2px;
        height: 100%;
        text-align: center;
    }
    input[type="checkbox"]{
        width: 15px;
        height: 15px;
        margin: 0px;
    }
    .grid{
        margin: 5px 0px;
    }
    button{
        padding: 0px;
        margin: 0px auto;
        height: 23px;
        width: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
}
