.skillsContainer{
    .skillHeader{
        border-bottom: 0px;
        margin-bottom: 0px;
    }
    .skillBox{
        background-color: rgba(255,255,255,0.75);
        border: 1px solid darkred;
        border-radius: 5px;
        padding: 5px;
        .header{
            font-size: 10px;
        }
        .header, img, .name, .bonus, .rank{
            margin-bottom: 5px;
        }
        .name, .bonus, .rank{
            display: flex;
            align-items: center;
        }
        .bonus{
            font-size: 12px;
        }
        .rank{
            text-align: center;
        }
    }
}
