<div class="items item" data-item-id="{{_id}}">
    <div class="name reveal-rollable grid grid-5col">
        <img src="{{img}}" data-edit="img" title="{{name}}" />
        <input id="itemName" type="text" value="{{name}}" class="grid-span-4"/>
    </div>
</div>
