.spell{
	label{
		font-weight: bold;
	}
    font-size: 14px;
    margin-top: 0px;
	select{
		width: 100%;
	}
	.school, .type, .difficulty{
		font-size: 12px;
	}
	.style{
		border: 1px solid #666;
		border-radius: 3px;
		background-color: rgba(0, 0, 0, 0.05);
		select{
			width: 47%;
			border: 0px;
			background-color: rgba(0, 0, 0, 0);
		}
	}
	.difficulty{
		font-size: 14px;
		.grid{
			margin: 0px;
			label{
				display: flex;
				justify-content: end;
				align-items: center;
			}
			input{
				text-align: center;
			}
		}
	}
	.grid-5col{
		.grid-span-4{
			.grid.grid-2col{
				margin-top: 0px;
			}
		}
	}
	span.chant, span.catalyst{
		display: flex;
		align-items: center;
		margin-top: 5px;
		label{
			margin-right: 5px;
		}
	}
}
